<div class="row">
    <div class="col-md-6">
        <a routerLink="/recipes" class="btn btn-link">
            <i class="fa fa-arrow-circle-o-left"></i>Atrás
        </a>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-10 mx-auto mt-2">
        <div class="card">
            <div class="card-header">Nueva receta</div>
            <div class="card-body">
                <form #formGuardar="ngForm" (ngSubmit)="onGuardarReceta(formGuardar)">
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <input type="text" class="form-control" id="tite" name="title" placeholder="Título" [(ngModel)]="recipe.title">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea type="text" class="form-control" id="description" name="description" placeholder="Descripción" [(ngModel)]="recipe.description"></textarea>
                    </div>
                    <!--<div class="form-group">
                        <label for="tags">Tags</label>
                        <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags separados por una coma" [(ngModel)]="recipe.tags">
                    </div>-->
                    <div class="form-group">
                        <label for="preparacion">Preparación</label>
                        <textarea type="text" class="form-control" id="preparation" name="preparation" [(ngModel)]="recipe.preparation"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="ingredients">Ingredientes</label>
                        <textarea type="text" class="form-control" id="ingredients" name="ingredients" placeholder="Ingredientes" [(ngModel)]="recipe.ingredients"></textarea>
                    </div>

                    <div class="form-group">
                        <h5>Seleccionar imagen:</h5>
                        <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
                    </div>
                    <div class="progress">
                        <div [style.visibility]="(uploadPercent == 0) ? 'hidden' : 'visible'" class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) +'%'">
                            <span class="progressText" *ngIf="urlImage | async">
                                Ok!!{{urlImage}}</span>
                        </div>
                    </div>
                    <input #imageUser type="hidden" [value]="urlImage | async">

                    <!--<div class="row">
                        <div class="form-group col-xs-12">
                            <div class="col-xs-8"><input type="text" class="form-control" id="name" name="name" placeholder="Ingrediente" [(ngModel)]="recipe.ingredients.name"></div>
                            <div class="col-xs-2"><input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="recipe.ingredients.amount"></div>
                            <div class="col-xs-2">
                                <select class="form-control" id="unit" name="unit" [(ngModel)]="recipe.ingredients.unit">
                                    <option></option>
                                    <option>ut</option>
                                    <option>gr</option>
                                    <option>ml</option>
                            </select>
                            </div>
                            <div class="col-xs-2"><button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
                        </div>
                    </div>-->

                    <input type="submit" value="Guardar" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
</div>