<div class="row">
    <div class="col-md-6">
        <a routerLink="/details/{{recipe.id}}" class="btn btn-link">
            <i class="fa fa-arrow-circle-o-left"></i>Atrás
        </a>
    </div>
    <div class="col-md-6"></div>
</div>

<div class="row">
    <div class="col-md-10 mx-auto mt-2">
        <div class="card">
            <div class="card-header text-white bg-primary">
                <h3>Editar receta</h3>
            </div>
            <div class="card-body">
                <form #formGuardar="ngForm" (ngSubmit)="onClickUpdate(formGuardar)">
                    <div class="form-group">
                        <label for="titulo"><h5>Titulo</h5></label>
                        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="recipe.title">
                    </div>
                    <div class="form-group">
                        <label for="descripcion"><h5>Descripción</h5></label>
                        <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="recipe.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="preparacion"><h5>Preparación</h5></label>
                        <textarea type="text" class="form-control" id="preparation" name="preparation" [(ngModel)]="recipe.preparation"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ingredientes"><h5>Ingredientes</h5></label>
                        <textarea type="text" class="form-control" id="ingredients" name="ingredients" [(ngModel)]="recipe.ingredients"></textarea>
                    </div>
                    <div class="form-group">
                        <h5>Imagen receta:</h5>
                        <img *ngIf="urlImage | async; else actualImage" src="{{recipe.imageUrl}}" alt="Card image">
                        <ng-template #actualImage>
                            <img src="{{recipe.imageUrl}}" alt="Card image">
                        </ng-template>
                        <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
                    </div>
                    <div class="progress">
                        <ng-template #charging>
                            <div [style.visibility]="(uploadPercent == 0) ? 'hidden' : 'visible'" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width]="(uploadPercent | async) +'%'">
                            </div>
                        </ng-template>
                        <div *ngIf="urlImage | async; else charging" [style.visibility]="(uploadPercent == 100) ? 'hidden' : 'visible'" class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%" aria-valuenow="100">
                            <span class="progressText" *ngIf="urlImage | async">100%</span>
                        </div>
                    </div>
                    <input #imageRecipe type="hidden" [value]="urlImage | async">
                    <input type="submit" value="Modificar" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
</div>