<div class="barra_navegacio">
    <div class="container d-blockp-2 fixed-top">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item big" routerLinkActive="active">
                    <a class="nav-link big" routerLinkActive="rotate" routerLink="/home">G</a>
                </li>
            </ul>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/recipes">Mis recetas</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/favorites">Favoritas</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/menu">Menú</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/list">Lista</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <img class="imgProfile" src="{{usr.photoUrl}}" alt="Card image">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/profile">{{usr.email}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" (click)="onLogout()">Salir</a>
                        </li>
                    </ul>
                </form>

            </div>

        </nav>

    </div>
</div>