<div class="row">
    <div class="col-md-6">
        <a routerLink="/menu" class="btn btn-link">
            <i class="fa fa-arrow-circle-o-left"></i>Volver
        </a>
    </div>
    <div class="col-md-6"></div>
</div>


<div class="jumbotron ">
    <h1 class="display-5 ">Menú para el día: {{timestampToDate2}}</h1>
</div>

<h3>Añadir: </h3>
<p class="lead">
    <button class="btn btn-outline-light" type="button" class="btn-primary" (click)="addRecipeToMenu(skillForm.controls.date.value)">Mis recetas</button>
    <button class="btn btn-outline-light" type="button" class="btn-primary" (click)="addRecipeToMenu2(skillForm.controls.date.value)">Favoritas</button>

    <div *ngFor="let recipe of recipes">
        <div *ngFor="let menu of menus">
            <div *ngIf="recipe.id == menu.recip">
                <div id="{{recipe.id}}" class="card border-primary mb-3">
                    <h5 class="card-header text-white bg-primary"><img src="{{recipe.imageUrl}}" alt="Card image">{{recipe.title}}</h5>
                    <ul class="list-group list-group-flush">
                        <input hidden id="{{recipe.id}}">
                        <li style="display: inline-block;" class="list-group-item">
                            <button class="btn btn-outline-light" type="button" class="btn-primary" id="{{recipe.id}}" (click)="onClickDeleteMenu($event)">X
                        </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





    <div class="container ">
        <router-outlet></router-outlet>
    </div>