<div class="container">
    <app-navbar></app-navbar>
</div>


<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class=" mb-3">
            <form class="form-inline">
                <input class="form-control" name="searchInput" placeholder="Buscar" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 90%">
                <i class="fas fa-search fa-2x" style="width: 10%; padding-left: 1%"></i>
            </form>
        </div>
    </div>
</div>

<div class="jumbotron ">
    <h1 class="display-3 ">Recetas</h1>
    <p class="lead ">En esta sección dispones de recetas muy variadas creadas por otros usuarios. Recetas senzillas, fáciles de preparar y muy sabrosas.</p>
    <hr class="my-4 ">
    <p>Busca recetas o guardalas en la sección de tus favoritas.</p>
</div>

<div *ngFor="let recipe of recipes">
    <div *ngIf="idUserLogged != recipe.userId &&filterCondition(recipe)">
        <div id="{{recipe.id}}" class="card border-primary mb-3">
            <h3 class="card-header text-white bg-primary">{{recipe.title}}</h3>
            <img src="{{recipe.imageUrl}}" alt="Card image">
            <div class="card-body">
                <p class="card-text">{{recipe.description}}</p>
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item"><a href="/details/{{recipe.id}} " class="card-link ">Leer más</a></li>
                <input hidden id="{{recipe.id}}">

                <li style="display: inline-block;" class="list-group-item">
                    <button class="btn btn-outline-light" type="button" class="btn-primary" id="{{recipe.id}}" (click)="onClickAddFavorite($event)">favorita +
                    </button>
                    <span *ngFor="let favorite of favorites">
                        <span *ngIf="recipe.id === favorite.recip">
                                <a class="favorite" href="/favorites"><i [hidden]="hideme[recipe.id]" class="fas fa-bookmark"></i></a>
                        </span>
                    </span>
                </li>

            </ul>
            <div class="card-footer text-muted ">
                <div *ngFor="let user of users">
                    <div *ngIf="user.email === recipe.userEmail">
                        <img *ngIf="user.photoUrl, else noProfile" class="imgProfile rounded-circle img-thumbnail" src="{{user.photoUrl}}" alt="profile image">
                        <ng-template #noProfile><img class="imgProfile rounded-circle img-thumbnail" src="\assets\userProfile.png" alt="profile image"></ng-template>
                    </div>
                </div>
                <small class=" text-muted ">{{recipe.userEmail}} ({{recipe.publicationDate | date: 'dd/MM/yy'}})</small>
            </div>
        </div>
    </div>
</div>


<div class="container ">
    <router-outlet></router-outlet>
</div>