<div class="container">
    <app-navbar></app-navbar>
</div>

<div class="jumbotron">
    <h1 class="display-3">Recetas</h1>
    <p class="lead">En esta sección dispones de múltiples recetas y muy variadas. Recetas senzillas, fáciles de preparar y muy sabrosas.</p>
    <hr class="my-4">
    <p>Comparte tus recetas, guarda tus favoritas o valora las que más te gusten.</p>
</div>

<form class="form-inline">
    <input class="form-control" name="searchInput" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
    <button class="btn btn-outline-primary" (click)="searchText=''">X</button>
</form>

<div class="row">
    <div class="col-md-6" *ngFor="let recipe of recipes">
        <div class="card mb-3" *ngIf="filterCondition(recipe)">
            <h3 class="card-header text-white bg-primary">{{recipe.title}}</h3>
            <img style="height: 100%; width: 100%; display: block;" src="{{recipe.imageUrl}}" alt="Card image">
            <div class="card-body">
                <p class="card-text">{{recipe.description}}</p>
            </div>
            <div class="card-body">
                <a href="/details/{{recipe.id}}" class="card-link">Leer más</a>
            </div>
            <div class="card-footer text-muted">
                <p>{{recipe.publicationDate | date: 'dd/MM/yy'}} <small class="text-muted">({{recipe.userEmail}})</small></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>