<app-navbar></app-navbar>

<div class="bd-example-container-body">
    <div class="row justify-content-md-center">
        <div class="card-wrapper">
            <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
                <div class="card-header text-center">
                    <h1>Perfil de usuario</h1>
                </div>
                <div class="card-body text-center">
                    <p class="card-text"><img src="{{user.photoUrl}}" class="rounded-circle img-thumbnail" alt="profile image"></p>
                    <h4 class="card-title">{{user.email}}</h4>
                </div>
                <!--<a routerLink="/editprofile/" class="badge badge-primary">Editar</a>-->
            </div>
        </div>
    </div>