<section class="register_form">
    <div class="bd-example-container-body">
        <div class="row justify-content-md-center">
            <div class="card-wrapper">
                <div class="brand text-center bg-primary">
                    <img src="assets\icons\Logo_llarg_b&w.png">
                </div>
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title">Iniciar</h4>
                        <form method="POST">

                            <div class="form-group">
                                <label for="email">Correo electrónico</label>

                                <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                            </div>

                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <a href="#" class="float-right">Recordar contraseña?</a>

                                <input id="password" type="password" class="form-control" name="password" required data-eye>
                            </div>

                            <div class="form-group">
                                <label>
                        <input type="checkbox" name="remember"> Mantener sesión
                      </label>
                            </div>

                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-primary btn-block">
                        Iniciar
                      </button>
                            </div>
                            <div class="margin-top20 text-center">
                                No estás registrado? <a routerLink="/register">Registrate</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-top20 text-center"><a routerLink="/landing">Volver</a></div>
</section>

<div class="container">
    <router-outlet></router-outlet>
</div>