<div class="row">
    <div class="col-md-6">
        <a class="btn btn-link" [routerLink]="" (click)="goBack()">
            <i class="fa fa-arrow-circle-o-left"></i>Atrás
        </a>
    </div>
    <div class="col-md-6"></div>
</div>

<div class="card mb-3">
    <h3 class="card-header text-white bg-primary">{{recipe.title}}</h3>
    <img src="{{recipe.imageUrl}}" alt="Card image">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h5>{{recipe.description}}</h5>
        </li>
        <li class="list-group-item">
            <h5>Preparación</h5>
            <p class="card-text">{{recipe.preparation}}</p>
        </li>
        <li class="list-group-item">
            <h5>Ingredientes</h5>
            <p class="card-text">{{recipe.ingredients}}</p>
        </li>

        <li style="display: inline-block;" class="list-group-item">
            <button class="btn btn-outline-light" type="button" class="btn-primary" id="{{recipe.id}}" (click)="onClickDeleteFavorite($event)">favorita -</button>
        </li>

    </ul>
    <div class="card-body" *ngIf=" idUserLogged == recipe.userEmail || idUserLogged =='gestcook.0@gmail.com' ">
        <a routerLink="/edit/{{recipe.id}}" class="badge badge-primary">Editar</a>
        <a routerLink="/recipes" style="margin-left: 1em;" class="badge badge-danger text-white" (click)="onClickDelete()">Eliminar</a>
    </div>
    <div class="card-footer text-muted">
        <p>{{recipe.publicationDate | date: 'dd/MM/yy'}} <small class="text-muted">({{recipe.userEmail}})</small></p>
    </div>
</div>


<div class="container">
    <router-outlet></router-outlet>
</div>